<h1>Wikiful</h1>
<p>The world's knowledge of Pig Latin at your fingertips</p>
<% @recent_articles.each do |article| %>
	<div>
		<h3><%= link_to article.title, article %></h3>
			<a class="btn btn-default btn-lg" disabled="disabled" >Published on <%= article.created_at.strftime('%b %d, %Y') %></a>
			<p class="btn btn-link">Filed under: <% article.categories.each do |category| %>
					<%= category.name%>&nbsp;
				<% end %>
			</p>
			<p><%= truncate(article.content,length: 300) %></p>	
	</div>
<% end %>

